<body>
  <app-panel-top></app-panel-top>

  <div class="top_div">
    <h2>Witamy w naszym sklepie</h2>
    <p>Dzięki zakupionym u nas produktom przeniesiesz się w inny świat</p>
    <p>również w ten magiczny</p>
  </div>

  <div class="mid_div">
    <h2>O Nas</h2>
    <p>Jeden człowiek który czaruje żeby Angular przestał sypać błędami</p>
    <p>Hoku Pokus</p>
  </div>

  <div class="safe_div">
    <h2>Czemu my ??????</h2>
    <p>6 podejście do projektu, aby błędy odeszły i kompilator był z nami</p>
    <p>rCzar Mary</p>
  </div>

  <footer>
    <p>&copy; 2021 Kamil Dej</p>
  </footer>
</body>
